matplotlib
seaborn
pandas
altair<5
requests
mlxtend
PyPDF2
duckduckgo-search
langchain-google-genai
langchain-tavily
langchain-community
langchain-classic
langchain
python-dotenv
numpy
scikit-learn
streamlit>=1.40.0
pydantic
google-genai
langgraph
langchain-experimental
transformers
huggingface-hub
langchain_groq
